<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Surname" value="Ulasevich"/>
    <add key="Name" value="Nikolai"/>
    <add key="Patronymic" value="Ivanovich"/>
    <add key="PhoneNumber" value="33086490"/>
    <add key="InvalidPhoneNumber" value="555"/>
    <add key="ClassOfAuto" value="Эконом класс"/>
    <add key="NameOfAuto" value="Chevrolet Aveo (АКПП)"/>
    <add key="ZeroPayment" value="0"/>
    <add key="Payment" value="10"/>
    <add key="StringPayment" value="ten"/>
    <add key="Comment" value="test comment"/>
    <add key="EmptyComment" value=""/>
    <add key="BirthdayDate" value="1.05.2000"/>
    <add key="PassportSeriesAndNum" value="test1234"/>
    <add key="DateOfPassprotIssue" value="01.01.1000"/>
    <add key="PlaceOfPassprotIssue" value="Epam"/>
    <add key="DivisionCodeOfPassprotIssue" value="666"/>
    <add key="ResidenceAddress" value="Belorusskay 19"/>
    <add key="Number" value="666"/>
    <add key="DateOfCertificateIssue" value="6.6.666"/>
    <add key="PlaceOfCertificateIssue" value="Slutsk"/>
  </appSettings>
</configuration>